h1{
    font-family: arial, verdana, sans-serif;
    font-size: 100px;
    font-style: italic;
}
p{
    font-family: sans-serif;
    font-size: 20px;
    font-variant: small-caps;
    line-height: 20px;
}
p{
    font: italic normal bold 16px/18px helvetica,arial, sans serif;
}